@use "../variables" as *;

footer {
  position: relative;

  .bg-image {
    &:nth-child(1) {
      top: -8%;
      left: 5%;
      width: 35%;
      max-width: 50rem;
      height: 65%;
    }
    &:nth-child(2) {
      top: -25%;
      left: 75%;
      width: 22%;
      height: 85%;
    }
  }

  #footer-links {
    a {
      display: inline-block;

      &:hover {
        transform: rotate(5deg);
      }

      &:active {
        transform: rotate(8deg);
      }
    }
  }

  .logo-row {
    margin-top: 5%;
  }

  @media (max-width: $resTablet) {
    .bg-images {
      display: none;
    }

    .title {
      font-size: 12.1vw;
      margin: 0 -2vw;
      width: 104vw;
    }

    .logo-row {
      justify-content: center;
    }
  }

  @media (max-width: $resPhone) {
    #footer-copyright {
      margin-top: 2em;
    }
  }
}
