@use "../variables" as *;

#front-top {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  #front-center {
    margin: 6em 0;
  }

  #front-logo {
    text-align: center;
    font-size: max(min(9rem, 9vw * $fontRatio), 21vw);
    margin-bottom: 0.3em;
  }

  #eden {
    position: absolute;
    width: 17%;
    top: 2%;
    right: -0.4%;
  }

  .bg-image {
    img {
      border-radius: 2rem;
    }

    &:nth-child(1) {
      top: 2%;
      left: -4%;
      width: 20%;
      height: 30%;
    }
    &:nth-child(2) {
      top: 43%;
      left: 3%;
      width: 35%;
      height: 38%;
    }
    &:nth-child(3) {
      top: 60%;
      left: 75%;
      width: 22%;
      height: 40%;
    }
    &:nth-child(4) {
      top: 27%;
      left: 76%;
      width: 19%;
      height: 26%;
    }
  }

  #top1,
  #top2,
  #top3,
  #top4 {
    position: absolute;
    height: auto;
    pointer-events: none;
  }

  #top1 {
    top: 34%;
    left: 22%;
    width: max(7%, 7rem);
  }

  #top2 {
    top: 30%;
    left: 72%;
    width: max(5%, 5rem);
  }

  #top4 {
    top: 79%;
    left: 4%;
    width: max(4%, 4rem);
  }

  #front-top-info {
    width: 100%;

    #front-top-info-container {
      max-width: calc(min(50vw, 60rem) + 25vw - 6rem);
      display: flex;
      justify-content: space-between;
      align-self: flex-start;
      align-items: flex-end;
      padding: 0 0 1em 0;

      .info-text {
        position: relative;

        #top3 {
          width: 60%;
          bottom: 120%;
          left: 0;
        }
      }
    }
  }

  @media (max-width: $resTablet) {
    #top1,
    #top2,
    #top3 {
      display: none;
    }

    #top4 {
      top: calc(50% - max(34vw, 17rem));
      left: 31%;
      width: max(4%, 4rem);
    }

    .bg-image {
      img {
        border-radius: 1.5rem;
      }

      &:nth-child(1) {
        top: 3rem;
        left: -3%;
        width: 58%;
        height: 24%;
      }
      &:nth-child(2) {
        top: 25%;
        left: 62%;
        width: 29%;
        height: 15%;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        top: 54%;
        left: 52%;
        width: 40%;
        height: 22%;
      }
    }

    #eden {
      position: absolute;
      top: 3rem;
      width: 40%;
    }

    #front-top-info-container {
      max-width: none !important;

      .logo-row {
        width: 100%;
        justify-content: center;
      }

      .info-text {
        display: none;
      }
    }
  }

  @media (max-width: 340px) {
    #front-top-info-container {
      display: none;
    }
  }
}
