@use "../variables" as *;

#front-top {
  position: relative;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  #front-center {
    margin: 6em 0;
  }

  #front-logo {
    text-align: center;
    font-size: max(min(9rem, 9vw * $fontRatio), 3rem);
    margin-bottom: 0.3em;
  }

  #eden {
    position: absolute;
    width: 17%;
    top: 2%;
    right: -0.4%;
  }

  .bg-image {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 1.5em;
    }

    &:nth-child(1) {
      top: 2%;
      left: -4%;
      width: 20%;
      height: 30%;
    }
    &:nth-child(2) {
      top: 43%;
      left: 3%;
      width: 35%;
      height: 38%;
    }
    &:nth-child(3) {
      top: 60%;
      left: 75%;
      width: 22%;
      height: 40%;
    }
    &:nth-child(4) {
      top: 27%;
      left: 76%;
      width: 19%;
      height: 26%;
    }
  }

  #top1 {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 10%;
    height: auto;
    pointer-events: none;
  }

  #top2 {
    position: absolute;
    top: 70%;
    left: 57%;
    width: 7%;
    height: auto;
    pointer-events: none;
  }

  #front-top-info {
    width: 100%;

    #front-top-info-container {
      max-width: calc(min(50vw, 60rem) + 25vw - 6rem);
      display: flex;
      justify-content: space-between;
      align-self: flex-start;
      align-items: flex-end;
      padding: 0 0 1em 0;
    }
  }
}
