@use "../variables" as *;

#front-top {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  #front-logo {
    font-feature-settings: "ss02" 0;
    text-align: center;
    font-size: max(min(9rem, 9vw * $fontRatio), 3rem);
    line-height: 1;
    margin-bottom: 0.3em;

    .alt {
      font-feature-settings: "ss02" 1;
    }
  }

  .bg-image {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &:nth-child(1) {
      top: 2%;
      left: -4%;
      width: 20%;
      height: 30%;
    }
    &:nth-child(2) {
      top: 43%;
      left: 3%;
      width: 35%;
      height: 38%;
    }
    &:nth-child(3) {
      top: 60%;
      left: 75%;
      width: 22%;
      height: 40%;
    }
    &:nth-child(4) {
      top: 27%;
      left: 76%;
      width: 19%;
      height: 26%;
    }
  }

  #front-top-info {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-self: flex-start;
    align-items: flex-end;
    padding: 0 3em 1em 3em;

    .logo-row {
      gap: 2em;
      align-items: flex-end;
    }

    .logo {
      width: auto;

      &:nth-child(1) {
        height: 4em;
      }

      &:nth-child(2) {
        height: 2.2em;
      }

      &:nth-child(3) {
        height: 2.4em;
      }
    }
  }
}
