@use "../variables" as *;

#goscie {
  #people {
    .person {
      width: 50%;
      padding-bottom: 3em;
      font-size: $fontSizeLarge;

      a {
        text-decoration: underline;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  @media (max-width: $resTablet) {
    #people {
      .person {
        width: 100%;
      }
    }
  }

  @media (max-width: $resPhone) {
    #nav-logo {
      top: 3rem;
    }
  }
}
