@use "../variables" as *;

#kontakt {
  .bg-image {
    &:nth-child(1) {
      top: 34rem;
      left: calc(50% - min(30rem, 50%) + min(40rem, 55%));
      width: min(25rem, 25vw * $fontRatio);
      height: min(36.5rem, 36.5vw * $fontRatio);
    }
  }
}
