nav {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 21;
  pointer-events: none;

  #nav-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  #nav-logo {
    min-width: 18%;
    font-size: max(min(3rem, 3vw * $fontRatio), 2rem);
    margin-left: -0.08em;
    pointer-events: all;
  }

  #nav-links {
    display: flex;
    gap: 2em;
    align-items: center;
    text-transform: uppercase;
    pointer-events: all;

    .nav-link {
      &:not(&--current) {
        cursor: pointer;

        &:hover {
          transform: rotate(5deg);
        }

        &:active {
          transform: rotate(8deg);
        }
      }

      &--current {
        font-weight: 700;
      }
    }
  }

  @media (max-width: $resPhone) {
    #nav-logo {
      position: absolute;
      top: 12rem;
    }

    #nav-links {
      width: 100%;
      justify-content: center;
    }
  }
}
