@use "../variables" as *;

#prelegenci {
  #people {
    .person {
      width: 50%;
      padding-bottom: 3em;
      font-size: $fontSizeLarge;

      a {
        text-decoration: underline;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
