#program-top {
  position: relative;

  #program-top-title {
    position: absolute;
  }

  #program-top-img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (max-width: $resPhone) {
    #nav-logo {
      top: 3rem;
    }
  }
}
