#program-plan {
  .subtitle {
    margin-top: 3em;
    margin-bottom: 3rem;
  }

  .list-item {
    margin: 0 0 3rem 0;

    .list-title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      p {
        margin: 0;

        span {
          @include fontDefault();
          text-transform: none;
        }
      }
    }

    .list-more {
      font-size: inherit;
      display: flex;
      margin: 0 0 0 1em;
      padding: 0.3em 1.5em;

      .list-arrow {
        margin-left: 0.3em;
        transform: rotate(90deg);
        transition: 0.2s;
      }

      &:hover .list-arrow {
        transform: rotate(100deg);
      }
    }

    &--expanded {
      .list-more {
        .list-arrow {
          transform: rotate(0deg);
        }

        &:hover .list-arrow {
          transform: rotate(-10deg);
        }
      }
    }

    .list-description {
      height: 0;
      max-width: $contentWidthText;
      overflow: hidden;
      transition: 0.3s;

      p:first-child {
        margin-top: 0.5em;
      }

      p:last-child {
        margin-bottom: 1em;
      }
    }
  }

  @media (max-width: $resPhone) {
    .list-title {
      flex-wrap: wrap;

      .list-title {
        width: 100%;
      }

      .list-more {
        margin-left: auto;
      }
    }
  }
}
