#program-top {
  position: relative;

  #program-top-title {
    position: absolute;
  }

  #program-top-img {
    position: relative;
    top: 3rem;
    left: 7rem;
    display: block;
    width: 70%;
    height: auto;
    z-index: -1;
  }

  @media (max-width: $resPhone) {
    #nav-logo {
      top: 3rem;
    }
  }
}
