@use "sass:math";
@use "variables" as *;

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.rsep {
  height: 6rem;
}

.r {
  height: 3rem;
}

.rmin {
  height: 1.5rem;
}

.rmik {
  height: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-center {
  align-items: center;
}

.flex-align-stretch {
  align-items: stretch;
}

.column {
  padding: 0 $spacing;
}

.column-inner {
  padding: 0 math.div($spacing, 3);
}

.column-outer {
  padding: 0 math.div($spacing, 3) * 2;
}

.content {
  max-width: $contentWidth;
  margin: 0 auto;

  &--wide {
    max-width: $contentWidthWide;
  }
}

.text {
  p,
  ul,
  ol {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-top: 0;
    }
  }
}

@media (max-width: $resTablet) {
  html {
    font-size: 0.9em;
  }

  .rsep {
    height: 3rem;
  }

  .column-wrapper {
    padding: 0;
  }
}

@media (max-width: $resPhone) {
  .column {
    padding: 0 2rem;
  }

  .column-inner {
    padding: 0 0.6667rem;
  }

  .column-outer {
    padding: 0 1.3333rem;
  }
}

img.lazyload:not([src]) {
  visibility: hidden;
}
