@use "variables" as *;

body {
  @include fontDefault();

  margin: 0;
  min-height: calc(var(--vh, 1vh) * 100);
}

#noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
  pointer-events: none;
  opacity: 0.18;
  background-image: url("../media/noise.png");
}

/* general */
@import "base";
@import "page";
@import "mobile";

/* parts */
@import "parts/logo-row";
@import "parts/nav";
@import "parts/footer";
@import "parts/front-top";
@import "parts/front-content";
@import "parts/program";
@import "parts/program-plan";
@import "parts/goscie";
@import "parts/kontakt";
