@use "variables" as *;

.accent {
  @include fontAccent();
  text-transform: uppercase;
}

.sub-accent {
  @include fontSubAccent();
  text-transform: uppercase;
}

.text-logo {
  font-feature-settings: "ss02" 0;
  line-height: 1;

  .alt {
    font-feature-settings: "ss02" 1;
  }
}

.bg-image {
  position: absolute;
  inset: 0;
  z-index: -1;

  &__cutoff {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  &__caption {
    @include fontSubAccent();
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1.5em;
    margin: 0.3em 0 0 0;
    font-size: 0.75em;
    white-space: nowrap;

    div {
      width: fit-content;
    }
  }

  &--c1 &__caption {
    div {
      margin-left: auto;
    }
  }

  &--c2 &__caption {
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 100%;
    width: 1.5em;
    height: 100%;
    margin: 0 0 0 0.3em;

    div {
      transform-origin: 1.2em 100%;
      transform: rotate(-90deg) translate(1.5em, 0);
    }
  }

  &--c3 &__caption {
    top: 0;
    left: 100%;
    width: 1.5em;
    height: 100%;
    margin: 0 0 0 0.3em;

    div {
      transform-origin: 1.2em 100%;
      transform: translate(0, -2em) rotate(-90deg) translate(-100%, 0);
    }
  }

  &--c5 &__caption {
    top: auto;
    bottom: 100%;
    margin: 0 0 -0.3em 0;
  }
}

button,
.button {
  padding: 0;
  margin: 0;
  display: block;
  text-align: initial;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;

  border: 1px solid $contentColor;
  padding: 0.5em 1em;
  border-radius: 2em;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: $fontSizeLarge;

  &:hover {
    transform: rotate(5deg);
  }

  &:active {
    transform: rotate(8deg);
  }
}

.text {
  font-size: $fontSizeLarge;
  line-height: 1.5;
}

.text-width {
  max-width: $contentWidthText;
}

.title {
  text-transform: uppercase;
  font-size: max(min(3rem, 3vw * $fontRatio), 2rem);
}

.subtitle {
  text-transform: uppercase;
  font-size: max(min(2rem, 2vw * $fontRatio), 1.4rem);
}
